# Crie um arquivo .env com as chaves abaixo.
# AssemblyAI: https://www.assemblyai.com/
# Groq API gratuita: https://console.groq.com
ASSEMBLYAI_API_KEY=sua_chave_aqui
GEMINI_API_KEY=sua_chave_aqui
GROQ_API_KEY=sua_chave_aqui
